<ion-header class="hamburger ion-no-border">
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-back-button class="bg2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <form [formGroup]="FormularioUsuario" (ngSubmit)="submitForm()">

    <h1 class="centrado bg2">Registro</h1>
    <ion-img src="assets/icon/drivolo.png" class="logoAjustado"></ion-img>

    <ion-item class="bg bg2">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item class="bg bg2">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="contrasena" formControlName="contrasena"></ion-input>
    </ion-item>
    <ion-item class="bg bg2">
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input type="password" name="contrasena2" formControlName="contrasena2"></ion-input>
      <div *ngIf="FormularioUsuario.controls.contrasena2.errors?.mustMatch && FormularioUsuario.controls.contrasena2.dirty">
      </div>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col class="centrado">
          <ion-button type="submit" class="centrado" style="--background:#21d6a0;color: #1a1d52;">
            Confirmar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>