.bg{
    --ion-background-color: #1a1d52 ;
    --background: #1a1d52;
  }
  .bg2{
    color: #21d6a0;
  }
  .bg3{
    --ion-background-color: #21d6a0 ;
    --background: #21d6a0;
  }
  .bg4{
    color: #1a1d52;
    text-transform: capitalize;
  }
  .centrado{
      text-align: center;
  }
  
  .arrow{
      position:absolute;
      margin-left: 20px;
      width: 30px;
      height: 100px;
  }
  .hamburger{
    --background: #1a1d52;
  }
  .car{
    height: 50px;
    width: 50px;
  }
  .img{
    border-radius: 200px 0px 200px 200px !important;
    overflow: hidden;
  }

  .xd{
    position: absolute;    
    float: right
  }

  .bg3{
    background-color: #1a1d52;
  }