<ion-header class="bg ion-no-border">
  <ion-toolbar class="bg ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button class="bg2" style="position: absolute;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg centrado">

  <ion-img src="assets/icon/drivolo.png"> </ion-img>

  <p class="bg2"> Es una aplicación de Uber, hecha para los estudiantes, docentes, etc. del instituto de DUOC UC</p>

  <p class="bg2"> El cual permite "trabajar" a los estudiantes e incluso docentes para usar su vehiculo como un taxi y
    poder llevar estudiantes o docentes a la comuna que tengar en comun</p>

  <ion-row>
    <ion-col size="6" class="imagen">
      <img src="../../../assets/Guille.jpeg">
    </ion-col>
    <ion-col size="6" class="imagen">
      <img src="../../../assets/Zak.jpeg">
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer class="testoend bg ion-no-border">
  <ion-toolbar class="bg ion-no-border">
    <h3 class="bg2 centrado">Guillermo Rojas --- Samuel Vallejos</h3>
  </ion-toolbar>
</ion-footer>