.bg {
  --ion-background-color: #1a1d52;
  --background: #1a1d52;
}

.bg2 {
  color: #21d6a0;
}

.centrado {
  text-align: center;
}

.arrow {
  position: absolute;
  margin-left: 20px;
  width: 30px;
  height: 100px;
}

.hamburger {
  --background: #1a1d52;
}

.iconsize {
  position: flex;
  height: 50px;
  width: 50px;
}

.testoend {
  text-align: end;
}

.imagen{
  border-radius: 50% 50% 50% 50% !important;
  overflow: hidden;
}