<ion-header class="bg ion-no-border">
  <ion-toolbar class="bg ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button class="bg2" style="position: absolute;"></ion-back-button>
    </ion-buttons>
    <h1 class="bg2 centrado" style="margin-top: 20px;">Mis vehiculos</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

    <ion-col size="12">
      <ion-card class="bg3 bg4" *ngFor="let v of misVehiculos">

        <ion-row>
          <ion-col>
            Patente Vehiculo: {{ v.patente }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Marca Vehiculo: {{ v.marca }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Modelo Vehiculo: {{ v.modelo }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Color Vehiculo: {{ v.color }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Año Vehiculo: {{ v.annio }}
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-col>


  <div class="centrado">
    <ion-button class="color color2" shape="round" [routerLink]="['/agregarvehiculo']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>