.bg{
    --ion-background-color: #1a1d52 ;
    --background: #1a1d52;
  }
  .bg2{
    color: #21d6a0;
  }
  .centrado{
      text-align: center;
  }
  
  .arrow{
      position:absolute;
      margin-left: 20px;
      width: 30px;
      height: 100px;
  }
  .hamburger{
    --background: #1a1d52;
  }
  .pt{
    margin-top: 25px;
  }
  .example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }