.bg{
    --ion-background-color: #1a1d52 ;
    --background: #1a1d52;
  }
  .bg2{
    color: #21d6a0;
  }
  .centrado{
      text-align: center;
  }
  
  .arrow{
      position:absolute;
      margin-left: 20px;
      width: 30px;
      height: 100px;
  }
  .hamburger{
    --background: #1a1d52;
  }
  .a{
    color: #1a1d52;
    margin-left: 220px;
    margin-top: 31px;
    position: absolute;
  }

capacitor-google-map{
  display: inline-block;
  width: 100%;  
  height: 100%;
}
ion-content{
   --background: none !important;
}
.container{
width: 100%;
height: 100%;
}
ion-content{
  --background:none;
}
.bdr{
  border-radius: 10px;
}
.carnt{
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.md body {
  --ion-background-color:none !important;
  }

ion-modal {
  --background: #fff;
}