<ion-header class="bg ion-no-border">
  <ion-toolbar class="bg ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button class="bg2" style="position: absolute;"></ion-back-button>
    </ion-buttons>
    <h1 class="bg2 centrado" style="margin-top: 20px;">Edita tu viaje</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <form [formGroup]="editarViaje" (ngSubmit)="submitForm()">

    <ion-list class="fondo">
      <ion-item class="bg bg2">
        <ion-select formControlName="sede_viaje" placeholder="Inicio Viaje">
          <ion-select-option style="--ion-background-color:#ffff !important" *ngFor="let s of sedes"
            value="sede_{{ s.sede }}">
            {{ s.sede }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="bg bg2">
        <ion-select formControlName="comunas_viaje" placeholder="Destino Viaje">
          <ion-select-option class="colorAlerta" *ngFor="let c of comunas" value="comuna_{{ c.comuna }}">
            {{ c.comuna }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item class="bg bg2">
      <ion-label position="stacked"></ion-label>
      <ion-input formControlName="asientos_disponibles" placeholder="Asientos Disponibles"></ion-input>
    </ion-item>
    <ion-item class="bg bg2">
      <ion-label position="stacked"></ion-label>
      <ion-input formControlName="hora_salida" placeholder="Hora de Salida Ejemplo: '1430'"></ion-input>
    </ion-item>
    <ion-item class="bg bg2">
      <ion-label position="stacked"></ion-label>
      <ion-input formControlName="monto" placeholder="Tarifa"></ion-input>
    </ion-item>

    <h1 class="centrado">
      <ion-button type="submit" (click)="submitForm()">Confirmar cambios de datos</ion-button>
    </h1>

  </form>


</ion-content>