<ion-header class="bg ion-no-border">
  <ion-toolbar class="bg ion-no-border">
    <div class="centrado">
      <ion-icon name="people-circle-outline" class="bg2 iconsize"></ion-icon>
    </div>
    <h1 class="bg2 centrado">Seleccina tu vehiculo</h1>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-sliding *ngFor="let z of automovil">
    <ion-card class="bg3 bg4" [routerLink]="['/crearviaje']">
      <ion-row>

        <ion-col size="8">
          <ion-row>
            <ion-col>
              Patente: {{ z.patente }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Marca Vehiculo: {{ z.marca }}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col size="4">
          <div class="centrado">
            <ion-icon name="car-sport-outline" class="iconsize"></ion-icon>
          </div>
        </ion-col>

      </ion-row>
    </ion-card>
  </ion-item-sliding>

  <!-- aqui poner el viaje para poder eliminarlo o editarlo -->

  <h1 class="bg bg2 centrado top">Tu viaje activo</h1>

  <!-- los viajes activos del wea para poder editarlos en caso de porque si -->



</ion-content>