<ion-content class="bg">

  <h1 class="centrado bg2" style="padding-top: 50px;" id="titlelogin">Iniciar Sesión</h1>
  <ion-img src="assets/icon/drivolo.png" class="logoAjustado"></ion-img>

  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input placeholder="Usuario" formControlName="nombre"></ion-input>
      </ion-item>
      <div *ngIf="(nombre.dirty || nombre.touched) && nombre.errors" class="errors">
        <span *ngIf="nombre.errors?.required">Usuario Requerido</span>
        <span *ngIf="nombre.errors?.nombre">Usuario Invalido</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="contraseña" formControlName="clave"></ion-input>
      </ion-item>
      <div *ngIf="(clave.dirty || clave.touched) && clave.errors" class="errors">
        <span *ngIf="clave.errors?.required">Contraseña Requerida</span>
        <span *ngIf="clave.errors?.minlength">La contraseña nesecita ser de minimo 6 caracteres</span>
      </div>
    </div>

    <ion-button type="submit" expand="block">Aceptar</ion-button>

  </form>

  <div class="centrado">
    <button class="bg2" style="background-color:#1a1d52;" [routerLink]="['/rcontrasena']"> ¿Olvidaste tu
      contraseña?</button>
  </div>

  <ion-grid class="bg">
    <ion-row class="bg">
      <ion-col size="2"></ion-col>
      <ion-col style="text-align: center;">
        <ion-button type="submit" class="color2 color" [routerLink]="['/']" id="ide">Aceptar</ion-button>
        <div class="centrado">
          <button class="bg2" style="background-color:#1a1d52;margin-top:15px" [routerLink]="['/registro']"> Registrarse
          </button>
        </div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- Fin del pormulario "INICIAR SESION" -->
</ion-content>