<ion-card button="" class="bg3 bg4" (click)="A()">

  <ion-icon name="car-sport-outline" class="car"></ion-icon>
  <h1 style="margin-left: 70px; margin-top: 10px;">{{ texto.Destino }}</h1>

  <ion-row>
    <ion-col>
      Chofer: <br> {{ texto.Chofer }}
    </ion-col>
    <ion-col>
      Asientos Disponible:{{ texto.Asientos }} 
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      Vehiculo: <br> {{ texto.MarcaVehiculo }}
    </ion-col>
    <ion-col>
      Modelo Vehiculo: <br> {{ texto.ModeloVehiculo }}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      Patente: <br> {{ texto.Patente }}
    </ion-col>
    <ion-col>
      Color Vehiculo: <br> {{ texto.ColorVehiculo }}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="text-align: end; margin-right: 30px;">
      <h3>Tarifa <br> ${{ texto.Tarifa }}</h3>
    </ion-col>
  </ion-row>

</ion-card>